.sidenav-link {
  margin-bottom: 16px;
  text-decoration: none;
  color: var(--main-font-color);
}

.sidenav-link-active {
  margin-bottom: 16px;
  font-weight: 700;
  text-decoration: underline;
}

.sidenav-link:hover,
.sidenav-link-active:hover {
  opacity: var(--main-opacity);
  cursor: pointer;
}
