:root {
  --main-font-family: 'Play', sans-serif;
  --main-bg-color: #fceed1;
  --secondary-bg-color: #f2d53c;
  --main-font-color: #24006b;
  --secondary-font-color: #000000;
  --border: 1px solid #000;
  --main-opacity: 0.8;
}
